.modal{
    background:rgba(0,0,0,0.7);
}

.modal.fade.action-modal.in.display-block {
    display: block;
    opacity: 1;
}

.modal-header{
    font-size: 20px !important;
    font-weight:700;
    width:100%;
}

.app-modal-header {
    width:100%;
}

.modal-body{
    overflow-y: auto;
    max-height:500px;
    font-size: 13px !important;
}

.action-modal .modal-content{
    margin-top: 200px;
}
.action-modal .modal-body{
    margin-bottom: 0rem;
}

button.close {
    position: absolute !important;
    right: 18px !important;
}
