<div class="row">
	<div class="col-12">
		<h2 class="text-center">{{brandName}} Branches</h2>
		<app-search-bar (onfilterChange)="getSearchQuery($event)"></app-search-bar>
	</div>
</div>
<div class="row">
	<div class="col-lg-4 col-md-4 col-sm-12" *ngFor="let item of branchListArr | filter : searchText" (click)="showBranchDetail(item)">
		<div class="card">
		  <div class="card-bg">
		  	<span>{{item.Name}}</span>
		  </div>			
		</div>
	</div>
</div>

<app-modal #branchDetail>
    <div class="app-modal-header" *ngIf="showModal">
      <h5 class="pull-left no-mr"><span class="fa fa-university"></span> {{branchData.Name}}</h5>
      <button (click)="closeModal()" type="button" class="close pull-right" data-dismiss="modal">&times;</button>
    </div>
    <div class="app-modal-body" *ngIf="showModal">
      <div class="address row" *ngIf="branchData.PostalAddress">
      	<div class="label-t col-sm-12 col-md-3"><span class="fa fa-map-marker"></span> Address:</div>
      	<div class="col-sm-12 col-md-9 label-text">
      		{{branchData.PostalAddress.AddressLine[0]}}, {{branchData.PostalAddress.CountrySubDivision[0]}},<br>
      		{{branchData.PostalAddress.TownName}}, {{branchData.PostalAddress.Country}}, <br>
      		{{branchData.PostalAddress.PostCode}}
      	</div>
      </div>
      <div class="contact" *ngIf="branchData.ContactInfo">
      	<div class="row"*ngFor = "let item of branchData.ContactInfo">
      		<div class="label-t col-sm-12 col-md-3"><span class="fa" [ngClass]="(item.ContactType == 'Phone')? 'fa-phone':'fa-fax'"></span> {{item.ContactType == 'Phone' ? 'Phone' : 'Fax'}}</div>
      		<div class="col-sm-12 col-md-9 c-num label-text">{{item.ContactContent}}</div>
      	</div>	
      </div>
  </div>
</app-modal>