.card {
    cursor: pointer;
    -webkit-transition:linear 1s; /* For Safari 3.1 to 6.0 */
    transition: linear 1s;
    margin-bottom: 25px;
}

.card-bg {
	background: url(/assets/city.jpg) no-repeat;
    background-position: 49% 76%;
    height: 110px;
    position: relative;
}
.card-bg > span {
	position: absolute;
    background: rgba(52,0,0,.8);
    height: 100%;
    width: 100%;
    color: #fff;
    font-size: 20px;
    text-align: center;
    line-height: 110px;
}
.close {
    position: absolute;
    right: 22px;
    top: 16px;
}
.no-mr {
    margin-bottom: 0px;
}
.label-t {
    font-size: 18px;
    font-weight: 500;  
}
.address, .contact > .row {
    margin-bottom:15px;
}
.label-text {
    font-size: 14px;
    font-weight: 500;
    color:#aaa;
}
.c-num {
    padding-top:5px;
}
