<nav class="navbar navbar-dark bg-dark mb-5">
  <a class="navbar-brand" href="/">Halifax</a>
  <div class="navbar-expand mr-auto">
  </div>
  <div class="navbar-expand ml-auto navbar-nav">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="https://github.com" target="_blank">
        <i class="fa fa-github"></i>
      </a>
      <a class="nav-item nav-link" href="https://twitter.com" target="_blank">
        <i class="fa fa-twitter"></i>
      </a>
      <a class="nav-item nav-link" href="https://facebook.com" target="_blank">
        <i class="fa fa-facebook"></i>
      </a>
    </div>
  </div>
</nav>