.search-div {
  width:50%;
  margin: 20px auto 40px;
  position: relative;
  min-width: 300px;
}
.search-div > .fa-search {
  position: absolute;
    top: 10px;
    right: 16px;
    color: #aaa;
}
