<div class="search-div">
	<input class="form-control" type="text" placeholder="Search by City" aria-label="Search" [(ngModel)]="searchText" (ngModelChange)="change($event)">
	<div class="fa fa-search"></div>
</div>